body {
    padding: 0;
    margin: 0;
    background: #f2f6e9;
}
.navbar {
    background:#eca0b7;
}
.nav-link,
.navbar-brand {
    color: #fff;
    cursor: pointer;
}
.nav-link {
    margin-right: 1em !important;
}
.nav-link:hover {
    color: #000;
}
.navbar-collapse {
    justify-content: flex-end;
}
.header {
    background-image: url('https://img.freepik.com/free-photo/cloud-background-with-pastel-colour_66899-936.jpg?size=626&ext=jpg');
    background-size: cover;
    background-position: center;
    position: relative;
}

.overlay {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgba(177, 167, 167, 0.137);
}

.description {
	left: 50%;
	position: absolute;
	top: 45%;
	transform: translate(-50%, -55%);
	text-align: center;
}
.description h1 {
	color: #b44679;
}
.description h2 {
	color: #b44679;
}
.description p {
	color: rgb(231, 126, 126);
	font-size: 1.3rem;
	line-height: 1.5;
}

.description button {
    border:1px solid #b44679;
    border-radius: 0;
    color:#b44679;
}
.description button:hover {
	border:1px solid #fff;
    background:#fff;
    color:rgb(228, 83, 138);
}

.features {
	margin: 4em auto;
	padding: 1em;
	position: relative;
}
.feature-title {
    padding-top: 20px;
	color: #b44679;
	font-size: 1.3rem;
	font-weight: 700;
	margin-bottom: 20px;
	text-transform: uppercase;
}
.features img {
	-webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
	box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
	margin-bottom: 16px;
}

a:link {
    color: #b44679;
    background-color: transparent;
    text-decoration: none;
}
  
a:visited {
    color: #b44679;
    background-color: transparent;
    text-decoration: none;
}
  
.features .form-control,
.features input {
	border-radius: 0;
}
.features .btn {
    background-color: #589b37;
    border: 1px solid #589b37;
    color: #fff;
    margin-top: 20px;
}
.features .btn:hover {
    background-color: #333;
    border: 1px solid #333;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    max-width: 700px;
    height: auto;
}

@media (max-width: 575.98px) {
    .description {
        left: 0;
        padding: 0 15px;
        position: absolute;
        top: 10%;
        transform: none;
        text-align: center;
    }
 
    .description h1 {
        font-size: 2em;
    }
 
    .description p {
        font-size: 1.2rem;
    }
 
    .features {
        margin: 0;
    }
}